{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MI BLOGSITO ELQUETECUENTO</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>
<body>
    <header>
        <div class="container1">
        <h1><a href="/">Mi Blog Personal</a></h1>
    </div>

   <div class="container2">
        <h3> <a href="/">Primer articulo del blog</a> </h3>
    </div>

        <nav>
            <ul>
                <li><a href="{% url 'ver_publicaciones'%}">Inicio</a></li>
                <li><a href="#">Acerca de mí</a></li>
               
            
            </ul>
        </nav>
    </header>
    <div class="container"> 


    </div>
    <main>
        {% block content %}
        <div class="content">
            <section class="latest-post">
                <h2>Última Publicación</h2>
                {% if latest_post %}
                    <h3>{{ latest_post.title }}</h3>
                    <p>{{ latest_post.content }}</p>
                {% else %}
                    <p>No hay publicaciones disponibles.</p>
                {% endif %}
            </section>

            <section class="post-list">
                <h2>Lista de Publicaciones</h2>
                {% if posts %}
                    <ul>
                        {% for post in posts %}
                            <li><a href="#">{{ post.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No hay publicaciones disponibles.</p>
                {% endif %}
            </section>
        </div>
        
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Mi Blog Personal Yiyo</p>
    </footer>
</body>
</html>